.logo-img {
    max-width: 150px; /* Ajusta el tamaño máximo de acuerdo a tus preferencias */
    height: auto; /* Esto asegura que la proporción se mantenga */
    display: block; /* Esto quita cualquier espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra horizontalmente la imagen */
}
