<div class="section section-download" id="#download-section" data-background-color="black">
    <div class="container">
        <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8">
                <a target="_blank" href="https://twitter.com/proyectakonscio"
                    class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip"
                    title="Follow us">
                    <i class="fab fa-twitter"></i>
                </a>
                <a target="_blank" href="https://www.facebook.com/ProyectaKonscio/?locale=es_LA"
                    class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip"
                    title="Like us">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/imanol-eduardo-oliva/"
                    class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip"
                    title="Follow us">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>
