<div class="section section-download" id="#download-section" data-background-color="black">
    <div class="container">
        <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8">
                <a target="_blank" href="https://www.vidasostenible.info/"
                    class="btn btn-neutral btn-icon btn-round btn-lg" rel="tooltip"
                    title="Asosiacíon mas vida">
                    <img src="../../../assets/img/masvida-remove.png" alt="masvida" class="logo-img">
                </a>     
                <a target="_blank" href="https://proyectakonscio.org/blog/proyectos/plataforma-digital-konsciohousing"
                    class="btn btn-neutral btn-icon btn-round btn-lg" rel="tooltip"
                    title="Fundación proyecta">
                    <img src="../../../assets/img/logoPROYECTA.png" alt="proyecta" class="logo-img">
                </a>
            </div>
        </div>
    </div>
</div>
