
<div class="card" (click)="mostrarContenido = !mostrarContenido">
    <div class="value">1 €</div>
  </div>
  <div *ngIf="mostrarContenido">
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </div>
      <div class="card">
          <div class="value">5 €</div>
      </div>
      <div class="card">
          <div class="value">20 €</div>
      </div>
      <div class="card">
          <div class="value">50 €</div>
      </div>
      <div class="card">
        <div class="value">100 €</div>
    </div>