<div class="wrapper">
    <div class="page-header clear-filter" filter-color="green">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('../../assets/img/manos.jpg');">
        </div>
        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo">¡Únete al Movimiento Co-housing!</h1>
                <h3>Construyendo Comunidades Sostenibles y Conscientes</h3>
            </div>
        </div>
    </div>

    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Co-housing</h2>
                    <h5 class="description"><strong> Es más que una forma de vivir</strong> es una
                        filosofía de vida que fomenta la comunidad, la sostenibilidad y la colaboración.
                        <strong> La toma de decisiones se comparte entre todos</strong> los miembros de la comunidad.
                        <strong> Todos somos co-creadores de nuestro destino y nos esforzamos</strong> por construir un
                        lugar que refleje nuestras necesidades y deseos colectivos.
                    </h5>
                </div>
            </div>
            <div class="separator separator-success"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left"
                            style="background-image: url('../../assets/img/bg1.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"Más de la mitad de los españoles mayores considera
                                poco
                                probable terminar en un centro geriátrico y a su vez, no todos tienen
                                los recursos para pagar personal o clínicas privadas para su cuidado"
                                <br>
                                <br>
                                <small>-- Mayores UDP</small>
                            </p>

                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container"
                            style="background-image: url('../../assets/img/contain.main-.jpg')"></div>
                    </div>
                    <br>
                    <br>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right"
                            style="background-image: url('assets/img/tercera-edad.jpg')"></div>

                        <h3>Los altos costos de vivienda son una carga aplastante para jóvenes y adultos.</h3>
                        <p>El panorama de vivienda en España es dificil. Los precios de las propiedades están en aumento
                            constante,<strong> haciendo que el sueño de tener
                                un hogar propio se desvanezca para muchos. </strong>
                            Si bien las preocupaciones económicas pueden pesar sobre tu mente, también hay otra
                            preocupación
                            que acecha a miles de personas mayores en nuestra sociedad.
                            <strong>La soledad.</strong> Aquel sentimiento desgarrador de estar desconectado y aislado,
                            <strong>Muchos adultos mayores enfrentan el desafío de la soledad,</strong> viéndose
                            privados
                            de las conexiones que una vez atesoraron.
                        </p>
                        <p>
                            Nuestra comunidad de Co-housing <strong> no es solo un refugio de viviendas ecológicas, sino
                                un refugio para el corazón y el alma.</strong> A través de la <strong> colaboración, la
                                convivencia y la creación de relaciones profundas, </strong> estamos redefiniendo lo que
                            significa tener un hogar en este mundo moderno y ajetreado.
                        </p>
                        <p>
                            El co-housing es <a href="#sectionform"> es un llamado a la acción.</a> Es un
                            llamado para unirnos, colaborar y construir un futuro mejor. <strong>
                                Un futuro en el que la
                                comunidad, la sostenibilidad y la colaboración sean los pilares de nuestra existencia.
                            </strong>
                            <a href="#sectionform">Únete a nosotros en este emocionante viaje </a>
                            mientras trabajamos juntos para crear un mundo más consciente, inclusivo y sostenible.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-success"></div>

    </div>
    <app-red-social></app-red-social>
    <br>
    <br>
    <app-cards></app-cards>
    <section id="sectionform">
        <app-formulario></app-formulario>
    </section>
    <nav class="redesandfooter">
        <app-redes></app-redes>
        <app-footer></app-footer>
    </nav>
</div>