.custom-btn-success {
    background-color: #4CAF50; /* Cambia este valor al color verde deseado */
    border-color: #4CAF50; /* Cambia el color del borde si es necesario */
  }
  .btn-success{
    background-color: #4CAF50; /* Cambia este valor al color verde deseado */
    border-color: #4CAF50;
  }

  .n-logo{
    width: 440px;
    height: 440px;

  }
  
  