
<nav class="navbar navbar-expand-lg custom-bg-success fixed-top navbar-transparent" color-on-scroll="green">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/index']" placement="bottom" ngbTooltip="construcción de viviendas cooperativas en comunidad proactiva">
        <div class="logoImg">
          <a href="https://www.vidasostenible.info/" target="_blank"> <img src="../../../assets/img/masvida-remove.png" alt="masvida"></a>
         <img src="../../../assets/img/logoPROYECTA.png" alt="proyecta"> <a href="https://proyectakonscio.org/blog/proyectos/plataforma-digital-konsciohousing" target="_blank"> </a>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="green">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/proyectakonscio" target="_blank">
            <i class="fab fa-twitter"></i>
            <p class="d-lg-none d-xl-none">Conocenos</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/ProyectaKonscio/?locale=es_LA" target="_blank">
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
