<h3 style="text-align: center;">Red Social Konsciohousing</h3>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
      <br>
      <br>
      <div class="image-container">
        <img src="../../../assets/img/redsocial1.jpg" alt="Red-social" class="img-fluid moveable-image"/>
      </div>
    </div>
    <div class="col-md-6">
      <p>
        Estamos <strong> organizando una plataforma digital diseñada exclusivamente para promover  el co-housing. </strong>
        <a href="#sectionform">Sé parte de nuestra comunidad y conecta con personas que comparten tus valores y visión.</a>
      </p>
      <ul class="section-redsocial">
        <li> <strong> Comunidad: </strong> 
          <p>
            Es un espacio donde los interesados por el co-housing  se reúnen para compartir ideas,aprender y crecer juntos.
          </p>
        </li>
        <li> <strong>Metaverso Konscio: </strong></li>
        <p>
          Rompemos las barreras de la distancia. <br>
          Conéctate con otros miembros en un <strong> entorno virtual único donde puedes tomar cursos,interactuar con modelos 3D </strong> y discutir ideas en tiempo real.
          <a href="#sectionForm"> Unete.</a>
        </p>
        <li><strong>Capacitaciones:</strong></li>
        <p>
          Amplía tus conocimientos y habilidades en <strong> construcción ecológica y sistemas constructivos alternativos  </strong> a través de nuestras capacitaciones especializadas. <br>
         <a href="#sectionForm">¡Conviértete en un experto constructor ecoinnovador!</a>. 
        </p>
        <li><strong>Eventos virtuales: </strong></li>
        <p>
          Haremos eventos virtuales para discutir ideas.<a href="#sectionform"> Forma parte del co-housing</a>.
        </p>    
      </ul>
    </div>
  </div>
</div>

