<div class="main">
    <div class="section section-tabs">
        <div class="container">
            <h3 style="text-align: center;"><strong _ngcontent-hqe-c25="">Quienes llevamos adelante esta
                    iniciativa</strong></h3>
            <div class="row">
                <div class="col-md-6">
                    <p class="category"><br><a href="https://www.vidasostenible.info/" target="_blank"><strong>
                                ASOCIACION VIDA SOSTENIBLE</strong></a></p>
                    <!-- Tabs with Background on Card -->
                    <div class="card section-tabs">
                        <div class="nav-tabs-navigation" data-tabs-color="green">
                            <div class="nav-tabs-wrapper">
                                <ng-template ngbTabContent>
                                    <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.
                                        With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                                </ng-template>
                                <p style="margin:10px ;">
                                    La asosiacion mas vida tiene como modelo de <strong> FINANCIAMIENTO </strong>
                                    la <a
                                        href="https://www.canva.com/design/DAFjMIXMNE8/88lsy8hZMCyYTWwvLdQFqQ/view?utm_content=DAFjMIXMNE8&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink#1"
                                        target="_blank"> inversion</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="category"><br><a
                            href="https://proyectakonscio.org/blog/proyectos/plataforma-digital-konsciohousing"
                            target="_blank" (click)="dowloadPdf()"><strong>FUNDACION PROYECTA KONSCIO</strong></a></p>
                    <!-- Nav tabs -->
                    <div class="card section-tabs">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">

                                <ng-template ngbTabContent>
                                    <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.
                                        With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                                </ng-template>
                                <p style="margin:10px ;">
                                    Fundacion Proyecta Konscio prevé una cooperativa. En conjunto se adquiere  un terreno
                                    una vez echa la <strong>comunidad</strong>.
                                    Tambien se planea llegar a la comprar de una <strong> impresora 3D de hogares</strong> la cual 
                                    a travéz de ella se podra empezar a generar economia una vez utilizada. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Tabs on plain Card -->
            </div>
        </div>
    </div>
</div>