.transparent-bg {
    background-color: transparent; /* Establece el color de fondo transparente */
  }
  .transparent-bg {
    background-color: rgba(37, 36, 36, 0.733); /* Fondo blanco con 50% de opacidad */
  }

  .section-text .description{
    color: white;
  }

  .section-text{
    color:white;
  }
  .section-center{
    color: white;
  }
    